# =======================================
# .env.example
# =======================================
# Copy this file as a ".env" 
# And fill it with your own values.
# =======================================

# === NETWORK SETTINGS === #
PORT=3000

# === AI SETTINGS === #
GEMINI_KEY=your_gemini_key